<app-header titulo="Agenda" buscador="true"></app-header>

<ion-content class="ion-padding">
    <ion-list>
        <app-contacto *ngFor="let contacto of contactos" [contacto]="contacto"></app-contacto>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button ><ion-icon name="add"></ion-icon></ion-fab-button>
        <!-- <ion-fab-list side="top">
            <ion-fab-button ><ion-icon name="add"></ion-icon></ion-fab-button>
            <ion-fab-button ><ion-icon name="share"></ion-icon></ion-fab-button>
        </ion-fab-list> -->
    </ion-fab>
</ion-content>
